dev.platformracing.com {

    # api
    route /api/* {
        uri strip_prefix api
        reverse_proxy http://pr4-dev-api:8080
    }

    # web
    reverse_proxy /* http://pr4-dev-web:80

    # auth
    route /auth/* {
        uri strip_prefix auth
        reverse_proxy http://pr4-dev-kratos:4433
    }

    # auth-ui
    route /auth-ui/* {
        uri strip_prefix auth-ui
        reverse_proxy http://pr4-dev-kratos-ui:3000
    }

    # gameserver
    route /gameserver {
        reverse_proxy pr4-dev-game-server:8081
    }

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


platformracing.com {

    # api
    route /api/* {
        uri strip_prefix api
        reverse_proxy http://pr4-api:8080
    }

    # web
    reverse_proxy /* http://pr4-web:80

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


bubbleracing.com {

    # api
    route /api/* {
        uri strip_prefix api
        reverse_proxy http://br-api:8080
    }

    # web
    reverse_proxy /* http://br-web:80

    # gameservers
    route /gameservers/1 {
        uri strip_prefix gameservers/1
        reverse_proxy br-gameserver-1:9999
    }
    route /gameservers/2 {
        uri strip_prefix gameservers/2
        reverse_proxy br-gameserver-2:9999
    }

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


monitoring.mend.games {

    # grafana
    reverse_proxy /* http://grafana:3000

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


cdn.jiggmin.com {

    # fetch files from s3 bucket
    reverse_proxy /* http://jiggmin.s3-website-us-east-1.amazonaws.com

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


pr2.platformracing.com, pr2hub.com {

    # extra glitches client
    @extraGlitchesRoot {
        host pr2hub.com
        path /extra-glitches
    }
    redir @extraGlitchesRoot /extra-glitches/ 308

    @extraGlitches {
        host pr2hub.com
        path /extra-glitches/*
    }
    route @extraGlitches {
        uri strip_prefix /extra-glitches
        reverse_proxy http://pr2-extra-glitches:80
    }

    # emblems for pr2 teams
    route /emblems/* {
        uri strip_prefix emblems
        reverse_proxy http://pr2emblems.s3-website-us-east-1.amazonaws.com {
            header_up Host pr2emblems.s3-website-us-east-1.amazonaws.com
        }
    }

    # levels
    route /levels/* {
        uri strip_prefix levels
        reverse_proxy http://pr2levels1.s3-website-us-east-1.amazonaws.com {
		    header_up Host pr2levels1.s3-website-us-east-1.amazonaws.com
	    }
    }

    # files?
    route /games/* {
        reverse_proxy http://jiggmin.s3-website-us-east-1.amazonaws.com {
            header_up Host jiggmin.s3-website-us-east-1.amazonaws.com
        }
    }

    # gameservers
    route /gameservers/1 {
        uri strip_prefix gameservers/1
        reverse_proxy pr2-multi-1:9160
    }
    route /gameservers/2 {
        uri strip_prefix gameservers/2
        reverse_proxy pr2-multi-2:9161
    }
    route /gameservers/3 {
        uri strip_prefix gameservers/3
        reverse_proxy pr2-multi-3:9162
    }
    route /gameservers/4 {
        uri strip_prefix gameservers/4
        reverse_proxy pr2-multi-4:9163
    }
    route /gameservers/11 {
        uri strip_prefix gameservers/11
        reverse_proxy pr2-multi-11:9170
    }
    route /gameservers/12 {
        uri strip_prefix gameservers/12
        reverse_proxy pr2-multi-12:9171
    }
    route /gameservers/13 {
        uri strip_prefix gameservers/13
        reverse_proxy pr2-multi-13:9172
    }

    # web
    reverse_proxy /* http://pr2-http:80

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}
