dev.platformracing.com {

    # api
    route /api/* {
        uri strip_prefix api
        reverse_proxy http://pr4-dev-api:8080
    }

    # web
    reverse_proxy /* http://pr4-dev-web:80

    # auth
    route /auth/* {
        uri strip_prefix auth
        reverse_proxy http://pr4-dev-kratos:4433
    }

    # auth-ui
    route /auth-ui/* {
        uri strip_prefix auth-ui
        reverse_proxy http://pr4-dev-kratos-ui:4455
    }

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


platformracing.com {

    # api
    route /api/* {
        uri strip_prefix api
        reverse_proxy http://pr4-api:8080
    }

    # web
    reverse_proxy /* http://pr4-web:80

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


bubbleracing.com {

    # api
    route /api/* {
        uri strip_prefix api
        reverse_proxy http://br-api:8080
    }

    # web
    reverse_proxy /* http://br-web:80

    # gameservers
    route /gameservers/1 {
        uri strip_prefix gameservers/1
        reverse_proxy br-gameserver-1:9999
    }
    route /gameservers/2 {
        uri strip_prefix gameservers/2
        reverse_proxy br-gameserver-2:9999
    }

    # work with cloudflare
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}


monitoring.mend.games {
    # grafana
    reverse_proxy /* http://grafana:3000
}

